

<div class="fixed top-0 left-0 w-screen h-screen flex flex-col z-0">
    <div class="w-full flex-grow flex-1 relative bg-no-repeat bg-cover bg-top" style="background-image: url({{background_url | url}})">
        <div class="w-full h-2/3 bg-gradient-to-b from-orchid-600 via-blush-600 to-chocolate-300 opacity-80">
        </div>
        <div class="w-full h-1/3 bg-gradient-to-b from-chocolate-300 to-chocolate-100 opacity-80">
        </div>
    </div>
    <div class="w-full h-12 flex-none fixed bottom-0 left-0 bg-blush-700 bg-opacity-100 border-t-8 border-sunset-400">
    </div>
</div>
