{% set title_class %}
  mx-5
  font-normal font-title tracking-wider 
  text-sunset-300 text-6xl md:text-7xl lg:text-8xl
  hover:text-sunset-200
  transition duration-500 ease-in-out
{% endset %}

{% set subtitle_class %}
    px-3 py-1 mt-12
    w-96 lg:w-auto
    shadow-md rounded
    font-normal font-title tracking-wider
    text-sunset-400 hover:text-sunset-300  text-2xl  md:text-3xl lg:text-4xl text-center
    bg-blush-700  hover:bg-blush-600   
    transition duration-500 ease-out
{% endset %}


{% set nav_item_class %}
  shadow-md whitespace-nowrap opacity-90 px-3
  font-bold font-subtitle tracking-wider
  text-2xl lg:text-3xl
  border-l-8 border-blush-700 border-opacity-70 
  rounded-tr rounded-br 
  hover:opacity-100 hover:border-sunset-300
  transition duration-500 ease-out
{% endset %}

{% set current_item_class %}
    bg-blush-700 text-sunset-400
    bg-opacity-100
{% endset %}

{% set inactive_item_class %}
    bg-chocolate-200 text-blush-700
    bg-opacity-80
{% endset %}




<header role="banner" class="flex flex-col items-center z-10 relative container mx-auto h-full">
    <a href="{{ build.url }}" rel="home">
        <h1 class="{{ title_class }}">Rainier</h1>
        <h1 class="{{ title_class }}">Valley</h1>
        <h2 class="{{ subtitle_class }}">Creative District</h2>
    </a>
    <nav role="navigation" tabindex="-1" aria-label="Main" class="w-96 lg:w-auto mt-10 lg:mt-20 mr-auto ml-auto lg:ml-0">
        <ul class="flex flex-col spacing-x-4 w-full">
        {%- for item in collections.all | eleventyNavigation -%}
            {%- set isCurrent = (item.url == page.url) -%}
            {%- set isParent = item.url != '/' and item.url in page.url -%}
            <li class="mb-10 mr-10">
                <a
                    class="{{nav_item_class}} {% if isCurrent %}{{current_item_class}}{% else %}{{inactive_item_class}}{% endif %}"
                    href="{% if isCurrent %}#content{% else %}{{ item.url | url }}{% endif %}"
                    {% if isCurrent %}aria-current="page"{% endif %}
                >
                    {{ item.title }}
                </a>
            </li>
        {%- endfor -%}
            <li class="mb-10 lg:mt-10">
                <a href="https://www.paypal.com/donate?hosted_button_id=DNSR3JW3RD69L" class="{{nav_item_class}} {{inactive_item_class}}">  
                    ♥ GIVE
                </a>
            </li>
        </ul>
    </nav>
</header>