{% set nav_item_class %}
  shadow-md whitespace-nowrap opacity-90 px-3
  font-bold font-subtitle tracking-wider
  text-lg sm:text-xl md:text-2xl lg:text-3xl
  border-l-8 border-blush-700 border-opacity-70 
  rounded-tr rounded-br 
   hover:opacity-100 hover:border-sunset-300
  transition duration-300 ease-out;
{% endset %}

{% set current_item_class %}
    bg-blush-700 text-sunset-400
    bg-opacity-100
{% endset %}

{% set inactive_item_class %}
    bg-chocolate-200 text-blush-700
    bg-opacity-80
{% endset %}

{% set title_class %}
  mx-5
  font-normal font-title tracking-wider 
  text-sunset-300 text-6xl md:text-7xl lg:text-8xl
{% endset %}


<header role="banner" class="flex flex-col items-center z-10 relative top-20 pl-10 container mx-auto h-full">
    <a href="{{ build.url }}" rel="home"
        class="text-lg font-bold leading-tight">
        <h1 class="{{ title_class }}">Rainier</h1>
        <h1 class="{{ title_class }}">Valley</h1>
        <h2 class="font-normal bg-blush-700 text-sunset-400 hover:bg-blush-600 hover:text-sunset-300 ease-out rounded font-title text-2xl transition duration-300 md:text-3xl lg:text-4xl text-center px-3 py-1 mt-12 tracking-wider shadow-md">Creative District</h2>
    </a>
    <nav role="navigation" tabindex="-1" aria-label="Main" class="mt-20 w-full ">
        <ul class="flex flex-col  spacing-x-4 w-full justify-around sticky top-12">
        {%- for item in collections.all | eleventyNavigation -%}
            {%- set isCurrent = (item.url == page.url) -%}
            {%- set isParent = item.url != '/' and item.url in page.url -%}
            <li class="mb-10">
                <a
                    class="{{nav_item_class}} {% if isCurrent %}{{current_item_class}}{% else %}{{inactive_item_class}}{% endif %}"
                    href="{% if isCurrent %}#content{% else %}{{ item.url | url }}{% endif %}"
                    {% if isCurrent %}aria-current="page"{% endif %}
                >
                    {{ item.title }}
                </a>
            </li>
        {%- endfor -%}
        </ul>
    </nav>
    <div class="w-full pt-10 border-opacity-50">
       <a href="https://www.paypal.com/donate?hosted_button_id=DNSR3JW3RD69L" class="{{nav_item_class}} {{inactive_item_class}}">
            ♥ GIVE
       </a>
    </div>
</header>