<header role="banner" class="p-4 flex flex-col items-center z-10 relative top-36 container mx-auto">
    <a href="{{ build.url }}" rel="home"
        class="text-lg font-bold leading-tight">
        <h1 class="text-stroke-pink font-title text-pink-500 text-8xl tracking-wider">Rainier</h1>
        <h1 class="text-stroke-pink font-title text-pink-500 text-8xl tracking-wider">Valley</h1>
        <h2 class="bg-pink-600 rounded-xl font-title text-amber-400 text-4xl text-center px-3 py-1 mt-12 tracking-wider font-normal shadow-md">Creative District</h2>
    </a>
    <nav role="navigation" tabindex="-1" aria-label="Main" class="mt-24 w-full">
        <ul class="flex flex-wrap align-center spacing-x-4 w-full justify-around">
        {%- for item in collections.all | eleventyNavigation -%}
            {%- set isCurrent = (item.url == page.url) -%}
            {%- set isParent = item.url != '/' and item.url in page.url -%}
            <li class="mb-10">
                <a
                    class="whitespace-nowrap font-title text-amber-400 text-3xl rounded-xl bg-lime-700 px-3 py-1 hover:bg-lime-800 transition duration-300 ease-out shadow-md"
                    href="{% if isCurrent %}#content{% else %}{{ item.url | url }}{% endif %}"
                    {% if isCurrent %}aria-current="page"{% endif %}
                >
                    {{ item.title }}
                </a>
            </li>
        {%- endfor -%}
        </ul>
    </nav>
</header>