---
layout: contrast-container
eleventyNavigation:
  key: Events
  order: 1
---

<div id='calendar' class="flex-grow"></div>

<hr>

<div class="text-gray-800 text-xl border-t-4 border-blush-700 border-opacity-10 border-dashed mt-5 pt-5">
  <p class=>
    Do you have an event for our Rainier Valley Creative District calendar?
  </p>
  <p>
    Please submit your event
    <a class="text-blush-700" href="/submit-event/">HERE</a>
  </p>
</div>