---
background: index
---

<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="bg-white antialiased">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%- if seo.title -%}
            {{ seo.title }} 
        {%- else -%} 
            {{ title }} | {{meta.title }}
        {%- endif -%}
    </title>
    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}">   
    {% include "meta.njk" %}
</head>
<body class="text-gray-900 leading-normal">
    {% include "background.njk" %}

    <a href="#content" class="sr-only">skip to main content</a>

    <div role="document" class="w-screen flex relative">
        <div class="flex-none w-auto h-screen static overflow-hidden">
            {% include "header.njk" %}
        </div>
        <main class="flex-grow h-screen p-4 overflow-y-auto relative" id="content" tabindex="-1">
            {{ content | safe }}
        </main>

    </div>
    <script src="{{ '/assets/main.js' | url }}" defer></script> 
    <!-- LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
</body>
</html>