---
layout: page
---

<div class="min-h-screen w-full bg-gradient-to-r from-chocolate-100 to-chocolate-200 rounded z-50 shadow-lg relative">
  <div class="px-10 py-5">
    <article class="text-gray-700 prose prose-xl font-default font-semibold w-full">
      <img src="{{image_url}}" class="float-left w-1/4 mr-5 object-contain rounded"/>
      {{content | safe}}
    </article>
  </div>
</div>