---
layout: page
---

<div class="min-h-screen w-full bg-gradient-to-r from-chocolate-100 to-chocolate-200 rounded z-50 shadow-lg relative">
  {% if image_url %}<img src="{{image_url}}" class="w-full max-h-screen object-cover rounded-tl rounded-tr"/>{% endif %}
  <div class="px-10 py-5">
    {{content | safe}}
  </div>
</div>