---
layout: page
---
<div class="h-auto w-full bg-amber-200 bg-opacity-60 px-10 py-5 rounded-xl z-50">
  <h3 class="font-title font-normal tracking-wider text-2xl lg:text-3xl font-bold leading-tight mb-4 text-lime-900">{{title}}</h3>
  <img src="{{image_url}}" class="w-full h-auto rounded-xl my-12"/>
  <time class="text-gray-800 text-lg font-semibold" datetime="{{ date | dateToFormat('yyyy-LL-dd') }}">{{ date | dateToFormat('dd LLL yyyy') }}</time>
  <article class="text-gray-700 prose prose-lg font-semibold max-w-none">
    {{content | safe}}
  </article>
</div>